@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
body {
  @apply font-sans;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 153, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 20px 15px rgba(0, 153, 255, 0);
  }
}

.pulse-glow {
  animation: pulseGlow 2s infinite;
}
